@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensuring Flexbox works consistently on all browsers */
@supports (-webkit-flex: 1) {
  .flex-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

img {
  -webkit-object-fit: cover;
  object-fit: cover;
}
